@import 'leaflet/dist/leaflet.css';

:root {
  --background: 255 255 255;
  --foreground: 60 60 60;
  --primary: 29 78 216;
  --nav: 250 250 245;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 31 41 55;
    --foreground: 249 250 251;
    --primary: 59 130 246;
    --nav: 17 24 39;
  }
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}